<div class="login-box text-center">
    <h1> Login to Binary Beat</h1>
    <form class="loginForm">
            <!-- b is for bold the text. 'Required' makes to input box mandatory -->
            <label for="username"><b>Username</b></label>
            <input class="username shadow-sm"type="text" placeholder="Enter Username" name="username" required>
    
            <label for="password"><b>Password</b></label>
            <input class="password shadow-sm"type="password" placeholder="Enter Password" name="password" required>
    
            <button class="shadow btn-Submit loginBtn"type="submit">Login </button>
          </form>
          <!-- need to link the sign up page  -->
          <p>Don't have an account? <a class="signuplink"href="/signup">Sign up</a></p>
</div>



<script src='/js/login.js'></script>