<div class="login-box signupSelector text-center">
    <h1> Join Binary Beat</h1>
    <form class="loginForm">
            <!-- b is for bold the text. 'Required' makes to input box mandatory -->
            <label for="username"><b>Username</b></label>
            <input class="username shadow-sm"type="text" placeholder="Enter Username" name="username" required>
    
            <label for="password"><b>Password</b></label>
            <input class="password shadow-sm"type="password" placeholder="Enter Password" name="password" required>
    
            <button class="shadow btn-Submit signupBtn"type="submit">Sign Up </button>
          </form>
          <!-- need to link the sign up page  -->
          <p>Have an account? <a class="signuplink"href="/lgoin">Login</a></p>
</div>



<script src='/js/signup.js'></script>